#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination>ol {
    list-style: none;
    padding: 0;
}

.pagin-numbers {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 12px;
    color: rgb(120, 120, 120);
    background: rgb(189, 189, 189);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 5px 2px;
    cursor: pointer;
    transition: .2s ease;
}

.selected {
    color: rgb(255, 255, 255);
    background: rgb(136, 136, 136);
    border: 1px solid rgb(110, 120, 143);
    pointer-events: none;
}

.pagin-numbers:hover {
    color: rgb(136, 136, 136);
    background: rgb(189, 203, 241);
    border: 1px solid rgb(170, 170, 170);
}

.three-dots {
    font-family: 'Roboto', sans-serif;
    color: rgb(136, 136, 136);
    font-size: 30px;
    width: 32px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    cursor: context-menu;
    user-select: none;
}